html {
    background: #100a1c;
    background-image:
      radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
      radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
    background-attachment: fixed;
    color: #6cacc5;
  }
  
  body {
    color: #6cacc5;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
  }
  
  .calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 17em;
  }
  
  .text {
    /*color: #c97874;*/
    float: left;
    line-height: 3em;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 3em;
    height: 3em;
    border-style: solid;
  }
  
  .birthdate {
    color: #6cacc5;
    background: #100a1c;
    font-size: 28px;
    width: 3em;
    height: 3em;
    text-align: center;
    /*float: left;
    line-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    border-style: solid;*/
  }

  button {
    border: 0;
    background: rgba(42,50,113, .28);
    color: #6cacc5;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 3em;
    height: 3em;
    transition: all 0.5s;
  }
  